<ion-header>
  <ion-toolbar>
    <ion-title>Renewal Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" name="fullName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="address" name="address" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contact Number</ion-label>
      <ion-input type="tel" name="contactNumber" required></ion-input>
    </ion-item>
    
<ion-item>
      <ion-label position="floating">BirthDate</ion-label>
      <ion-input type="tel" name="birthdate" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="tel" name="age" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input type="tel" name="gender" required></ion-input>
    </ion-item> 
    
    <ion-item>
      <ion-label position="floating">Civil Status</ion-label>
      <ion-input type="tel" name="civilstatus" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Year Level</ion-label>
      <ion-input type="tel" name="yearlevel" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">School</ion-label>
      <ion-input type="tel" name="school" required></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit">Submit</ion-button>
  </form>
</ion-content>
